* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

li {
    list-style-type: circle;
    position: relative;
    font-size: 30px;
    color: white;
    border: 3px solid yellow;
    font-family: 'Young Serif', serif;
    padding: 10px;
}

img {
    margin: 25px auto;
    padding-left: 10%;
    max-width: 888px;
    border-radius: 10%;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
}

.side-by-side .text-container h3 {
    font-size: 48px;
    font-family: 'Young Serif', serif;
    font-size: 40px;
    color: cyan;
    padding-right: 15%;
}

.side-by-side .text-container h4 {
    color: white;
}

h3 {
    padding-left: 50px;;
}

#footer {
    background-color: #000000;
    color: white;
    display: flex;
    padding: 24px;
    border: 3px solid white;
}

#footer a {
    text-decoration: none;
    color: white;
    gap: 20px;
    padding: 24px;
}

#footer a:hover {
    background-color: #d3212c;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

p {
    color: white;
    font-size: 25px;
    padding-right: 15%;
}
/*
    Navbar 
*/
#navbar {
    display: flex;
    background-image: url(../images/back3.jpg);
    background-size: cover;
    justify-content: center ;
    border: 3px solid white;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    padding-right: 8%;
    font-size: 20px;
    font-family: 'Young Serif', serif;
}

#navbar a:hover {
    background-color:#d3212c;
}

h1 {
    margin-right: auto;
    color: white;
    padding-left: 8%;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    #navbar {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    #footer-navbar {
        flex-direction: column;
    }

    .side-by-side {
        flex-direction: column;
    }

    .side-by-side .text-container h3 {
        font-size: 30px;
    }

    .side-by-side p {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    #navbar {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #footer-navbar {
        flex-direction: column;
    }
}