* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
}

/*
    Navbar 
*/
#navbar {
    background-image: url(../images/back3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    border: 3px solid white;
}

#navbar a {
    text-decoration: none;
    color: white;
    padding: 24px;
    padding-right: 8%;
    font-size: 20px;
    font-family: 'Young Serif', serif;
}

#navbar a:hover {
    background-color:#d3212c;
}

h1 {
    margin-right: auto;
    color: white;
    padding-left: 8%;
}

#footer {
    background-color: #000000;
    color: white;
    padding: 24px;
    border: 3px solid white;
}

#footer a {
    text-decoration: none;
    color: white;
    gap: 20px;
    padding: 24px;
}

#footer a:hover {
    background-color: #d3212c;
}

#footer-navbar {
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    #navbar {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    #navbar {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}