* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-color: lightblue;
    height: 100vh;
    background-size: cover;
    background-position: center right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 8vw;
    padding-left: 13vw;
    color: whitesmoke;
    margin-bottom: 3vh;
    font-family: 'Bricolage Grotesque', sans-serif;
   font-family: 'Indie Flower', cursive;
}

#hero-1 .hero-content {
    text-align: right;
    color: rgb(2, 2, 2);
    padding: 5vh 8vw;
}

#hero-2 {
    background-image: url("../images/swirl.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
}

#hero-2 .hero-content {
    text-align: right;
    color: rgb(2, 2, 2);
    padding: 5vh 8vw;
}

#hero-2 h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Indie Flower', cursive;
}

#hero-2 h4 {
    font-size: 3vw;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
   font-family: 'Indie Flower', cursive;
}

#hero-3 {
    background-image: url("../images/clouds.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
}

#hero-3 .hero-content {
    text-align: right;
    color: rgb(2, 2, 2);
    padding: 5vh 8vw;
}

#hero-3 h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
    color: whitesmoke;
    font-family: 'Bricolage Grotesque', sans-serif;
  font-family: 'Indie Flower', cursive;  
}

#hero-3 h4  {
    font-size: 3vw;
}

#hero-3 a {
    font-size: 4vw;
    display: inline-block;
    background-color: lightblue;
    color: white;
    text-decoration: none;
    padding: 24px;
}

.spacer {
    height: 50vh;
    background-image: url(../images/clouds.jpg);
    background-size: cover;
    background-attachment: fixed;
}

li {
    list-style-type: circle;
    position: relative;
    font-size: 30px;
}

#main {
    background-image: url(../images/clouds.jpg);
    background-color:lightblue;
    width: 100vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 24px;
    width: 350px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #ddd;
    background-color: whitesmoke;
}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
    color: #55AAFF;
}
.card p {
    font-size: 18px;
}

.anchor-button {
    display: block;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: 3px solid lightblue;
    transition:
        background-color .5s,
        color .5s;
}
.anchor-button:hover {
    background-color: transparent;
    color: whitesmoke;
    background-color: lightblue;
}
