/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license {
    border: 2px solid black;
    padding: 10px;
    width:450px;
    height:300px;
    border-radius:5%;
    align-items: center 
}

 #personal-info {
    text-align: center;

}

#donor-and-real-id {
    max-width: 200px;
    height: 30px;
    text-align: center;
}

h4 {
    color: white;
    text-align: center;
    display: inline-block;
}

h4 {
    background-color: blue;
    max-width: 100px;
    display: inline-block;
    text-align: center;
}

#img {
    box-sizing: border-box;
    display: inline-block;
    flex-direction: row-reverse;
}
